title{
  color: blue;
  font-weight: bold;
  font-family: fantasy;
}
h1{
  color: green;
  font-size: 50px;
  font-style: italic;
}
h2{
  color: red;
  font-size: 32px;
  font-family: cursive;
  padding-left: 20px;
}
.important{
  color: yellow;
  font-weight: bold;
  }
img{
  width: 80px;
}
